[buildout]
parts=
    app_lib
    gae_sdk
    gae_tools

[common]
srcdir=src
application=myapp

[app_lib]
recipe = appfy.recipe.gae:app_lib
lib-directory=${common:srcdir}/libs
use-zipimport=true
allowed-eggs-from-site-packages =
    .
eggs=
    Flask
    Flask-WTF
    tweepy

ignore-globs=
    *.c
    *.pyc
    *.pyo
    */test
    */tests
    */testsuite
    */django
    */sqlalchemy

ignore-packages=
    distribute
    setuptools
    easy_install
    site
    pkg_resources

[gae_sdk]
recipe=appfy.recipe.gae:sdk
url = http://googleappengine.googlecode.com/files/google_appengine_1.6.6.zip
destination=${buildout:parts-directory}
hash-name=false
clear-destination=true

[gae_tools]
recipe=appfy.recipe.gae:tools
sdk-directory=${gae_sdk:destination}/google_appengine
